<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^phpdbtesting.php$ phpdbtesting.php    [L]
   RewriteRule    ^$ opt/app-root/src    [L]
   RewriteRule    (.*) opt/app-root/src/$1 [L]
</IfModule>
